body {
	background-color: white;
}
h1 {
	color: rgb(0, 100, 77);
	background-color: rgb(0, 172, 52);
    border-width: 5px;
    border-color: red;
    border-style: solid;
    border-spacing: 100px;
}
h3 {
	color: rgb(250, 100, 77);
    border : 4px dotted blue;
}

 {
    border-width: 5px;
    border-color: gray;
    border-style: solid;
}